@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Calculate";
}
<style>
.header{
    background-color: dodgerblue;
    text-align:center;
    margin:10px;
    padding:10px;
    font-size:larger;
}

.calcbox{
    
    background-color: lightcoral;
    width:fit-content;    
    margin:10px;
    padding:10px;
       
}

.para-1{
    background-color: lightgray;
    width:fit-content;    
    margin:10px;
    padding:10px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;    

}

.tableResult{
    padding-top: 20px;
}

.tableData{
    padding-bottom: 20px;
    
}

.footer{
    background-color:lightblue;      
    
    
}

</style>



<div class="header">

    <h1> Calculator App</h1>
    

</div>

<div class="container">

<div class="calcbox" align="center">  
    <h2>Simple Calculator</h2> @using (Html.BeginForm()) {  
    <table>  
        <tr>  
            <th> First Number </th>  
            <td> <input type="text" id="txtFirstNumber" name="firstNumber" class="form-control" /> </td>  
        </tr>  
        <tr>  
            <th> Second Number </th>  
            <td class="tableData"> <input type="text" id="txtSecondNumber" name="secondNumber" class="form-control" /> </td>  
        </tr> 
        
        <tr>  
            <th><input type="submit" name="Cal" value="Add" class="btn btn-primary" />  
                <input type="submit" name="Cal" value="Sub" class="btn btn-primary" />
                <input type="submit" name="Cal" value="Mul" class="btn btn-primary" />   
                <input type="submit" name="Cal" value="Div" class="btn btn-primary" /> 
                
            </th>  
        </tr>  
                

        <tr>  
            <th>Result</th>  
            <td class="tableResult"><input type="text" class="form-control" value="@ViewBag.Result" /> </td>  
        </tr>  
    </table> } 

</div>  

<div class="para-1">
    <p>
        This is a basic calculator.  <br />
        <br />
        Enter two numbers and click on the mathmatical operator to return the result. 
    </p>  
</div>

</div>